* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50em;
  transition: 0.3s;
  min-width: 12ch;
  min-height: 4ch;
}

button:hover {
  transform: translateY(-4px);
  background-color: #282c34;
  color: aliceblue;
}

button:active {
  transform: translateY(4px);
}

.connect {
  padding-top: 0.66em;
}

.disconnect {
  position: fixed;
  top: 1em;
  right: 1em;
}

.loading {
  margin-top: -1em;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.loading.show {
  opacity: 1;
  visibility: visible;
}